html {
  background: url(../images/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*margin: 0 auto;*/
  /*height: 100%;*/
}

body {
  font-family: 'Roboto', sans-serif;
}

#login-fields {
  float: right;
}
